# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Fish temporary files.
config/fish/fishd.*
config/fish/fish_variables
config/fish/functions/fish_prompt.*.copy
# Fish private.
config/fish/source/00.credentials.fish

# Oh-my-fish
config/omf/fonts
config/fish/conf.d/omf.fish

# VSCode
.vscode

# Karabiner
config/karabiner/automatic_backups/
