;; TODO: define launcher mode on/off in :tos section.
{:templates {:launch "open -a '%s'"}
 :input-sources {:input_rulemak {:input_source_id "org.sil.ukelele.keyboardlayout.rulemak.rulemak"}
                 :input_colemak {:input_source_id "com.apple.keylayout.Colemak"}}
 :tos {:switch_input_to_rulemak {:input :input_rulemak}
       :switch_input_to_colemak {:input :input_colemak}
       :launcher_mode_marker_on {:noti {:id "launcher_mode_notification" :text "Launcher mode"}}
       :launcher_mode_marker_off {:noti {:id "launcher_mode_notification"}}}
 :main [{:des "Ctrl-W -> delete word" :rules [[:!T##w :!Odelete_or_backspace]]}
        {:des "Cmd-Ctrl-quote -> backtick" :rules [[:!CTquote :grave_accent_and_tilde]]}
        {:des "Swap backtick and tilde" :rules [[:!Sgrave_accent_and_tilde :grave_accent_and_tilde]
                                                [:grave_accent_and_tilde :!Sgrave_accent_and_tilde]]}
      ;;   {:des "Holding a modifier switches to Colemak" :rules [[:condi :input_rulemak]
      ;;                                                          [:left_command [:left_command :switch_input_to_colemak] nil {:afterup :switch_input_to_rulemak}]
      ;;                                                          [:right_command [:right_command :switch_input_to_colemak] nil {:afterup :switch_input_to_rulemak}]
      ;;                                                          [:left_control [:left_control :switch_input_to_colemak] nil {:afterup :switch_input_to_rulemak}]
      ;;                                                          [:right_control [:right_control :switch_input_to_colemak] nil {:afterup :switch_input_to_rulemak}]
      ;;                                                          [:left_option [:left_option :switch_input_to_colemak] nil {:afterup :switch_input_to_rulemak}]
      ;;                                                          [:right_option [:right_option :switch_input_to_colemak] nil {:afterup :switch_input_to_rulemak}]
      ;;                                                          ;; TODO: any unassigned key resets launcher mode. Use :froms
      ;;                                                          ]}

        {:des "Launcher mode - activation" :rules [[:##f20 [["launcher_mode" 1] :launcher_mode_marker_on] ["launcher_mode" 0]]]}
        {:des "Launcher mode - bindings"
         :rules [[:condi ["launcher_mode" 1]]
                 [:escape ["launcher_mode" 0]]
                 ;; apps
                 [:spacebar [[:launch "kitty.app"] ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:z [[:launch "zoom.us.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:j [[:launch "Brave Browser.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:k [[:launch "Visual Studio Code.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:m [[:launch "Slack.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:l [[:launch "IntelliJ IDEA.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:d [[:launch "Spotify.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:f [[:launch "Telegram.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:u [[:launch "Obsidian.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:u [[:launch "Obsidian.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:0 [[:launch "Hammerspoon.app"], ["launcher_mode" 0] :launcher_mode_marker_off]]
                 ;; custom actions
                 [:hyphen [:switch_input_to_colemak, ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:equal_sign [:switch_input_to_rulemak, ["launcher_mode" 0] :launcher_mode_marker_off]]
                 [:f20 [:!Ctab, ["launcher_mode" 0] :launcher_mode_marker_off]]
                 ;; A fake key - just to manually change it in order to consume all unassigned keys. Replace "1" map with `"any": "key_code"`.
                 [:##1 [["launcher_mode" 0] :launcher_mode_marker_off]]
                 ;; TODO: "Choose audio output device"
                 ]}]}
